.u-section-1 .u-sheet-1 {
  min-height: 1075px;
}

.u-section-1 .u-line-1 {
  width: 665px;
  transform-origin: right center 0px;
  position: absolute;
  top: 301px;
  left: auto;
  right: -95px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 240px 0 0 auto;
}

.u-section-1 .u-line-2 {
  width: 460px;
  transform-origin: left center 0px;
  left: auto;
  top: 687px;
  position: absolute;
  right: 68px;
}

.u-section-1 .u-image-1 {
  width: 512px;
  height: 512px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: 19px auto 0 -219px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -434px 380px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 192px;
  margin: 20px 249px 0 613px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 38px 380px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 28px -306px 0 613px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: 62px 111px 60px auto;
  padding: 12px 103px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 313px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 149px;
    margin-left: 513px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 313px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 513px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 240px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 39px;
    margin-left: 403px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 240px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 262px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 113px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 62px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 113px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 634px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1660px;
  margin: 50px -260px 46px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 538px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(20% - 8px);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-1 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-2 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-3 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-4 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-5 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-6 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-7 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-8 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-9 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px 30px 4px;
}

.u-section-2 .u-image-10 {
  height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 31px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 8px));
  }

  .u-section-2 .u-image-1 {
    height: 126px;
  }

  .u-section-2 .u-image-2 {
    height: 126px;
  }

  .u-section-2 .u-image-3 {
    height: 126px;
  }

  .u-section-2 .u-image-4 {
    height: 126px;
  }

  .u-section-2 .u-image-5 {
    height: 126px;
  }

  .u-section-2 .u-image-6 {
    height: 126px;
  }

  .u-section-2 .u-image-7 {
    height: 126px;
  }

  .u-section-2 .u-image-8 {
    height: 126px;
  }

  .u-section-2 .u-image-9 {
    height: 126px;
  }

  .u-section-2 .u-image-10 {
    height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
  }

  .u-section-2 .u-image-1 {
    height: 177px;
  }

  .u-section-2 .u-image-2 {
    height: 177px;
  }

  .u-section-2 .u-image-3 {
    height: 177px;
  }

  .u-section-2 .u-image-4 {
    height: 177px;
  }

  .u-section-2 .u-image-5 {
    height: 177px;
  }

  .u-section-2 .u-image-6 {
    height: 177px;
  }

  .u-section-2 .u-image-7 {
    height: 177px;
  }

  .u-section-2 .u-image-8 {
    height: 177px;
  }

  .u-section-2 .u-image-9 {
    height: 177px;
  }

  .u-section-2 .u-image-10 {
    height: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    height: 246px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-10 {
    height: 246px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-image-1 {
    height: 315px;
  }

  .u-section-2 .u-image-2 {
    height: 315px;
  }

  .u-section-2 .u-image-3 {
    height: 315px;
  }

  .u-section-2 .u-image-4 {
    height: 315px;
  }

  .u-section-2 .u-image-5 {
    height: 315px;
  }

  .u-section-2 .u-image-6 {
    height: 315px;
  }

  .u-section-2 .u-image-7 {
    height: 315px;
  }

  .u-section-2 .u-image-8 {
    height: 315px;
  }

  .u-section-2 .u-image-9 {
    height: 315px;
  }

  .u-section-2 .u-image-10 {
    height: 315px;
  }
}